// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.productshome {
    background: rgba(230, 230, 230, 0.253);
    border-radius: 15px;
    padding: 15px 10px 0 10px;
}

.price-mob {
    font-weight: bold;
    font-size: 18px;
}

.product-block {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}

.submit {
    color: rgba(35, 35, 35, 0.8);
    background: rgba(220, 220, 220, 1);
    padding: 0;
    margin: 2.5em 0 0 5em;
    width: 10em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.4s;
}

.submit:hover {
    background-color: #43467f;
    color: #ffffff;
}

.submit:focus {
    background-color: #43467f;
    color: #ffffff;
}

.login-page {
    background: #6c5ce7;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.formLogin {
    display: flex;
    align-items: center;
    width: 22.8em;
    height: 55em;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.text-danger {
    color: red;
    font-size: 16px;
}

#toolbar-store {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#toolbar-botton {
    margin: 5px 10px 5px 10px;
}

img {
    object-fit: contain;
    width: 100%;
}